.nofound:hover{
    color: red !important;
}
.carousel-control-prev{
    background-color: #3056d354;
    filter: blur(0.1px);
    transition: 1s ease-in-out;

}
.carousel-control-next{
    background-color: #3056d354;
    filter: blur(0.1px);
    transition: 1s ease-in-out;

}
.card{
    border-radius: 13px;
    border: 1px solid #3056d3;
}