

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PortFolio</title>

     <!-- Primary Meta Tags -->
    <meta name="title" content="PortFolio">
    <meta name="description" content="Universidad del magdalena">

    <!--====== Favicon Icon ======-->
    <link rel="icon" href="../images/iconpage.png">

    <!-- ===== All CSS files ===== -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/animate.css" />
    <link rel="stylesheet" href="../css/lineicons.css" />
    <link rel="stylesheet" href="../css/ud-styles.css" />
    <link rel="stylesheet" href="../css/test.css">
    

  </head>
  <body>
    <!-- ====== Header Start ====== -->
    <header class="ud-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
             
              <button class="navbar-toggler">
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
              </button>

              <div class="navbar-collapse">
                <ul id="nav" class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a href="../../index.html">Inicio</a>
                  </li>

                  <li class="nav-item">
                    <a  href="../../index.html">Sobre</a>
                  </li>
                 
                  <li class="nav-item">
                    <a  href="../../index.html">Equipo</a>
                  </li>
                 
                  <li class="nav-item nav-item-has-children">
                    <a href="javascript:void(0)"> Periodos </a>
                    <ul class="ud-submenu">
                      <li class="ud-submenu-item">
                        <a href="#" class="ud-submenu-link">
                          Primer Periodo
                        </a>
                      </li>
                      <li  class="ud-submenu-item">
                        <a  href="#" class="nofound ud-submenu-link">
                          Segundo Periodo
                        </a>
                      </li>
                      <li class="ud-submenu-item">
                        <a href="#" class=" nofound ud-submenu-link">
                          Tercer Periodo
                        </a>
                      </li>
                      <li class=" ud-submenu-item">
                        <a href="#" class="nofound ud-submenu-link">
                          Investigación
                        </a>
                      </li>
                      
                    </ul>
                  </li>
                </ul>
              </div>

            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ====== Header End ====== -->

    <!-- ====== Hero Start ====== -->
    <section  class="ud-hero primerseguimientoimage" id="home" >
      <div class="">
        <div class="row">
          <div>
            <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
              <!-- <h1 class="ud-hero-title">
                GEOPOLITICA Y GLOBALIZACIÓN
              </h1> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="cards-section">
  <div class="card">
    <img class="lightbox-img" src="../images/poemas/poemas _page-0002.jpg" alt="...">
    <div class="card-body" style="text-align: center;">
      <p class="card-text">POEMA: EL AULA DE SIEMPRE</p>
    </div>
  </div>

  <div class="card">
    <img class="lightbox-img" src="../images/cartografiag/cartogloba.jpg" alt="...">
    <div class="card-body" style="text-align: center;">
      <p class="card-text">CARTOGRAFIA SOBRE LA GLOBALIZACIÓN</p>
    </div>
  </div>

  <div class="card">
    <img class="lightbox-img" src="../images/poemas/poemas _page-0003.jpg" alt="...">
    <div class="card-body" style="text-align: center;">
      <p class="card-text">POEMA: EL AULA SINFONICA</p>
    </div>
  </div>
</section>


  
    <!-- ====== Hero End ====== -->
    <div  height="300px" id="carouselExampleCaptions" class="carousel slide" style="margin-top: 30px;" >
      <div style="text-align: center;">
        <h2>CONFLICTOS GEOPOLITICOS</h2>
      </div>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
      </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0001.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0002.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0003.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0004.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0005.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0006.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0007.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0008.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0009.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0010.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0011.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img style="object-fit: cover;" height="700px" src="../images/cartografiag/Presentacion Conflictos geopolíticos_page-0012.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

   <!-- Botón pantalla completa -->
  <button id="fullscreenBtn" class="btn btn-primary"
          style="position:absolute; top:10px; right:10px; z-index:1050;">
    ⛶
  </button>

</div>
   
  <div style="text-align: center; margin-top: 30px;">
        <h2>GLOBALIZACION Y GEOPOLITICA
          VISTA DESDE LA REGIÓN CARIBE
        </h2>
  </div>

  <section class="cards-section">
  <div width="100px" height="100px"  class="card">
    <img width="100px" height="100px" class="lightbox-img" src="../images/ensayo/Ensayo1.jpg" alt="...">
  </div>

  <div class="card">
    <img class="lightbox-img" src="../images/ensayo/Ensayo2.jpg" alt="...">
  </div>
</section>

  <div style="text-align: center; margin-top: 30px;">
        <h2>PANEL DIDACTICO
        </h2>
  </div>
<!-- Tarjetas -->

            <div style="margin-bottom: 30px;" class="tarjetas row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img style="border-radius: 13px;" src="https://equilibriumglobal.com/wp-content/uploads/2020/11/GuerraH-1080x675.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">GUERRAS HÍBRIDAS</h5>
        <p class="card-text">Conflictos que combinan tecnología, propaganda y operaciones militares.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img style="border-radius: 13px;" src="https://universidadeuropea.com/resources/media/images/analista-ciberseguridad-800x450.width-640.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CIBERSEGURIDAD</h5>
        <p class="card-text">Protección frente a amenazas digitales y ataques informáticos.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img style="border-radius: 13px;" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjlAgNjDyCiflq_NjISrrl2JnJ2Kx_91CdioCRZx4Ee89FmcIdPTUn6_p__DTe7yaX4EYAY6lcujV-JGBDG6nvk5qC1du-i5dCLnJz_T2YwPrcnCpNGO5AwOMVbP2iUa-M42YLWJBcwYYU/w1200-h630-p-k-no-nu/Rec_nat.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">RECURSOS ESTRATEGICOS</h5>
        <p class="card-text">Control y aprovechamiento de energías, minerales y agua clave.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img style="border-radius: 13px;" src="https://cards.algoreducation.com/_next/image?url=https%3A%2F%2Ffiles.algoreducation.com%2Fproduction-ts%2F__S3__ef1c6571-7a1b-44d2-8f2f-9936a32f0e5b&w=3840&q=75" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MEDIOS DE COMUNICACION</h5>
        <p class="card-text">Impacto de la información y la opinión pública en la sociedad.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img style="border-radius: 13px;" src="https://lanotaeconomica.com.co/wp-content/uploads/elementor/thumbs/L38A2235-r00bj4u7coj7cp05t0jd6yp7mpir385jwto4lpmoos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">REPRESENTANTE DE AMERICA LATINA Y EL CARIBE</h5>
        <p class="card-text">Visión y liderazgo en los retos económicos regionales.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img style="border-radius: 13px;" src="https://concepto.de/wp-content/uploads/2019/04/ONU-e1554310056735.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ORGANIZACIONES INTERNACIONALES</h5>
        <p class="card-text">Cooperación global para la paz, el desarrollo y la diplomacia.</p>
      </div>
    </div>
  </div>
</div>



   <!-- ====== Back To Top Start ====== -->
    <a href="javascript:void(0)" class="back-to-top" id="backToTop">
      <i class="lni lni-chevron-up"></i>
    </a>
  <!-- ====== Back To Top End ====== -->

  
  <!-- Modal / Lightbox (inserta en body al final) -->
    <div id="lightboxOverlay" class="lightbox-overlay" role="dialog" aria-modal="true" aria-hidden="true">
      <div class="lightbox-content" role="document">
        <button class="lightbox-close" aria-label="Cerrar (Esc)">&times;</button>
        <img id="lightboxImage" src="" alt="" />
        <div id="lightboxCaption" class="lightbox-caption" aria-hidden="true"></div>
      </div>
    </div>

    <!-- ====== All Javascript Files ====== -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>

<script src="../js/components.js"></script>

  </body>
</html>
